= form_for @workshop, url: conference_workshops_path(@conference, @workshop) do |f|
	.columns
		= f.text_field :title
		= f.text_field :slug
	.columns.medium-4
		%h2=_'workshop.form.help.title', :t
		=_'workshop.form.help', :p
	.columns.medium-8
		= f.text_area :info
		= f.number_field :workshop_stream_id
		= f.number_field :workshop_presentation_style
	.columns
		= f.actions :save
