= render 'conferences/page_header', :page_key => 'Facilitate_Workshop'
%article
	= row do
		= columns(medium: 12) do
			=m('articles.workshops.paragraphs.facilitate_request_sent','Your request has been sent. You will receive an email once your request is approved or denied or if the current facilitators have any questions.')
		= columns(medium: 12) do
			.actions
				= link_to (_'actions.workshops.View'), view_workshop_url(@this_conference.slug, @workshop.id), :class => 'button'
				= link_to (_'actions.workshops.View_All'), workshops_url(@this_conference.slug), :class => 'button'
