= render 'conferences/page_header', page_key: 'Workshops'

%article
  = row do
    = columns(medium: 12) do
      .back-to=_'articles.conference_registration.headings.Back_to'
      %ul.menu
        %li=link_to (_'articles.conference_registration.headings.Your_Registration'), :register
  = row do
    = columns(medium: 12) do
      %h2=_'articles.workshops.headings.Workshops'
  = row do
    = columns(medium: 12) do
      %p=_'articles.workshops.paragraphs.Workshops', :p
      .actions.center
        = link_to (_'actions.workshops.create','New Workshop'), create_workshop_path(@this_conference.slug), class: [:button, :modify] if @this_conference.registration_open
  = row do
    = columns(medium: 12) do
      = render 'workshops/workshop_previews', workshops: @workshops, depth: 3