= render 'conferences/page_header', :page_key => 'Workshops'
%article
	= row do
		= columns(medium: 12) do
			%h2=_'articles.workshops.headings.Workshops'
		= columns(medium: 6) do
			%p=_'articles.workshops.paragraphs.Workshops', :p
		= columns(medium: 6) do
			%h3=_'articles.workshops.headings.Your_Workshops'
			%ul.workshop-previews
				- @my_workshops.each do |w|
					- if w.title
						%li
							=link_to view_workshop_path(@this_conference.slug, w.id) do
								%h4=_!(w.title)
								=markdown _!(w.info)
			= link_to (_'actions.workshops.create','New Workshop'), create_workshop_path(@this_conference.slug), class: :button
	= row do
		%ul.workshop-previews
			- @workshops.each do |w|
				- if w.title
					%li
						= columns(medium: 6) do
							=link_to view_workshop_path(@this_conference.slug, w.id) do
								%h4=_!(w.title)
								=markdown _!(w.info)
