= render 'conferences/page_header', :page_key => 'Workshops'
%article
	= row do
		= columns(medium: 12) do
			%h2=_'articles.workshops.headings.Workshops'
		= columns(medium: 6) do
			%p=_'articles.workshops.paragraphs.Workshops', :p
		= columns(medium: 6) do
			%h3=_'articles.workshops.headings.Your_Workshops'
			= render 'workshops/workshop_previews', :workshops => @my_workshops
			= link_to (_'actions.workshops.create','New Workshop'), create_workshop_path(@this_conference.slug), class: [:button, :modify] if @conference.registration_open
	= row do
		= render 'workshops/workshop_previews', :workshops => @workshops