= render 'conferences/page_header', page_key: 'Conference_Registration'

%article
  = row do
    = columns(medium: 12) do
      .back-to=_'articles.conference_registration.headings.Back_to'
      %ul.menu
        %li=link_to (_'articles.conference_registration.headings.Workshops'), :workshops
        %li=link_to (_'articles.conference_registration.headings.Your_Registration'), :register
  = render 'workshops/show', workshop: @workshop, translations_available_for_editing: @translations_available_for_editing, preview: false
  = row do
    = columns(medium: 12) do
      .actions.center
        = (link_to (_'actions.workshops.Edit'), edit_workshop_path(@this_conference.slug, @workshop.id), class: [:button, :modify]) if @workshop.can_edit?(current_user)
        = (link_to (_'actions.workshops.Delete'), delete_workshop_path(@this_conference.slug, @workshop.id), class: 'button delete') if @workshop.can_delete?(current_user)
