= render 'conferences/page_header', :page_key => 'View_Workshop'
%article
	= render 'workshops/show', :workshop => @workshop, :preview => false
	= row do
		= columns(medium: 12) do
			.actions.right
				= (link_to (_'actions.workshops.Edit'), edit_workshop_path(@this_conference.slug, @workshop.id), :class => 'button modify') if @workshop.can_edit?(current_user)
				= (link_to (_'actions.workshops.Delete'), delete_workshop_path(@this_conference.slug, @workshop.id), :class => 'button delete') if @workshop.can_delete?(current_user)
