= render 'conferences/page_header', :page_key => 'View_Workshop'
%article
	= row do
		= columns(medium: 12) do
			%h2=_!@workshop.title
			=paragraph _!(@workshop.info) || ''
			%h3=_'articles.workshops.headings.facilitators'
			.facilitators
				- @workshop.workshop_facilitators.each do |f|
					.facilitator
						- u = User.find(f.user_id)
						.name=_!(u.firstname || u.username || u.email)
						.role=_"roles.workshops.facilitator.#{f.role}"
			.actions
				= (link_to (_'actions.workshops.Edit'), edit_workshop_path(@this_conference.slug, @workshop.id), :class => 'button modify') if @workshop.can_edit?(current_user)
				= (link_to (_'actions.workshops.Delete'), delete_workshop_path(@this_conference.slug, @workshop.id), :class => 'button delete') if @workshop.can_delete?(current_user)