%p#notice= notice

%p
  %b Title:
  = @workshop.title
%p
  %b Slug:
  = @workshop.slug
%p
  %b Info:
  = @workshop.info
%p
  %b Conference:
  = @workshop.conference_id
%p
  %b Workshop stream:
  = @workshop.workshop_stream_id
%p
  %b Workshop presentation style:
  = @workshop.workshop_presentation_style
%p
  %b Min facilitators:
  = @workshop.min_facilitators
%p
  %b Location:
  = @workshop.location_id
%p
  %b Start time:
  = @workshop.start_time
%p
  %b End time:
  = @workshop.end_time

= link_to 'Edit', edit_workshop_path(@workshop)
\|
= link_to 'Back', workshops_path
