%h1 Listing conference_admins

%table
  %tr
    %th Conference
    %th User
    %th
    %th
    %th

  - @conference_admins.each do |conference_admin|
    %tr
      %td= conference_admin.conference_id
      %td= conference_admin.user_id
      %td= link_to 'Show', conference_admin
      %td= link_to 'Edit', edit_conference_admin_path(conference_admin)
      %td= link_to 'Destroy', conference_admin, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Conference admin', new_conference_admin_path
