= form_tag administration_update_path(@this_conference.slug, :edit) do
	= selectfield :registration_status, @this_conference.registration_status || 'closed', registration_status_options_list, small: true, inline_label: true
	= textarea :info, @this_conference.info!, heading: 'articles.conference_registration.headings.admin.edit.info', help: 'articles.conference_registration.paragraphs.admin.edit.info', lang: @this_conference.locale, edit_on: :focus
	- I18n.backend.enabled_locales.each do | locale |
		- if locale.to_s != @this_conference.locale.to_s
			= textarea "info_translations[#{locale.to_s}]", @this_conference._info(locale), label: 'translate.pages.Locale_Translation', vars: { language: _("languages.#{locale}") }, lang: locale, edit_on: :focus
	.actions.right
		= button_tag :save, value: :save
%h4=_'articles.admin.edit.headings.host_organizations'
- @this_conference.organizations.each do | organization |
	%p=organization.name
	%h5=_'articles.admin.edit.headings.members'
	.details.org-members.inline
		- organization.users.each do | user |
			= raw_data_set(:h6, user.name) do
				= user.email
	= form_tag administration_update_path(@this_conference.slug, :edit), class: 'mini-flex-form' do
		= hidden_field_tag :org_id, organization.id
		= emailfield :email, nil, required: true
		= button_tag :add_member, value: :add_member, class: :small
