.details
	= data_set(:h4, 'articles.admin.stats.headings.completed_registrations') do
		= (@completed_registrations || 0).to_s
	= data_set(:h4, 'articles.admin.stats.headings.incomplete_registrations') do
		= ((@registration_count - @completed_registrations) || 0).to_s
	= data_set(:h4, 'articles.admin.stats.headings.bikes') do
		= (@completed_registrations || 0) > 0 ? "#{@bikes} (#{number_to_percentage(@bikes / @completed_registrations.to_f * 100.0)})" : "0"
	= data_set(:h4, 'articles.admin.stats.headings.food.meat') do
		= (@food[:all] || 0) > 0 ? "#{@food[:meat]} (#{number_to_percentage(@food[:meat] / @food[:all].to_f * 100.0)})" : "0"
	= data_set(:h4, 'articles.admin.stats.headings.food.vegetarian') do
		= (@food[:all] || 0) > 0 ? "#{@food[:vegetarian]} (#{number_to_percentage(@food[:vegetarian] / @food[:all].to_f * 100.0)})" : "0"
	= data_set(:h4, 'articles.admin.stats.headings.food.vegan') do
		= (@food[:all] || 0) > 0 ? "#{@food[:vegan]} (#{number_to_percentage(@food[:vegan] / @food[:all].to_f * 100.0)})" : "0"
	= data_set(:h4, 'articles.admin.stats.headings.donation_count') do
		= (@completed_registrations || 0) > 0 ? "#{@donation_count} (#{number_to_percentage(@donation_count / @completed_registrations.to_f * 100.0)})" : "0"
	= data_set(:h4, 'articles.admin.stats.headings.donation_total') do
		= "$#{@donations || 0.00}"
.actions
	= link_to (_'links.download.Excel'), administration_step_path(@this_conference.slug, :stats, :format => :xlsx), class: [:button, :download]
	= link_to (_'links.download.Organizations_Excel'), administration_step_path(@this_conference.slug, :organizations, :format => :xlsx), class: [:button, :download, :subdued]
