.table.workshop-blocks
	.table-tr.header
		.table-th=_'forms.labels.generic.block_number'
		.table-th=_'forms.labels.generic.time'
		.table-th=_'forms.labels.generic.length'
		.table-th=_'forms.labels.generic.days'
		.table-th.form
	- @workshop_blocks.each_with_index do | info, block |
		- is_new = info['time'].blank?
		= form_tag administration_update_path(@this_conference.slug, :workshop_times), class: ['table-tr', is_new ? 'new' : 'saved'] do
			.table-th.center.big= is_new ? '' : (block + 1)
			.table-td=hour_select info['time'], small: true, label: false
			.table-td=length_select info['length'], {small: true, label: false}, 0.5, 2
			.table-td=checkboxes :days, @block_days, info['days'].map(&:to_i), 'date.day_names', vertical: true, small: true
			.table-td.form
				= hidden_field_tag :workshop_block, block
				= button_tag :delete_block, value: :delete_block, class: [:small, :delete] if block == @workshop_blocks.length - 2
				= button_tag (is_new ? :add_block : :update_block), value: :save_block, class: [:small, :add]
