= columns(medium: 12) do
  = form_tag administration_update_path(@this_conference.slug, @admin_step) do
    = emailfield :paypal_email_address, @this_conference.paypal_email_address || @this_conference.email_address || (@this_conference.organizations.present? && @this_conference.organizations.first.present? ? @this_conference.organizations.first.email_address : nil)
    = textfield :paypal_username, @this_conference.paypal_username
    = passwordfield :paypal_password, @this_conference.paypal_password
    = textfield :paypal_signature, @this_conference.paypal_signature
    .actions.right
      = button :save, value: :save
