= form_for @conference_host_organization do |f|
  - if @conference_host_organization.errors.any?
    #error_explanation
      %h2= "#{pluralize(@conference_host_organization.errors.count, "error")} prohibited this conference_host_organization from being saved:"
      %ul
        - @conference_host_organization.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :conference_id
    = f.number_field :conference_id
  .field
    = f.label :organization_id
    = f.number_field :organization_id
  .field
    = f.label :order
    = f.number_field :order
  .actions
    = f.submit 'Save'
