%p#notice= notice

%p
  %b Conference:
  = @conference_host_organization.conference_id
%p
  %b Organization:
  = @conference_host_organization.organization_id
%p
  %b Order:
  = @conference_host_organization.order

= link_to 'Edit', edit_conference_host_organization_path(@conference_host_organization)
\|
= link_to 'Back', conference_host_organizations_path
