%p#notice= notice

%p
  %b User:
  = @user_organization_relationship.user_id
%p
  %b Organization:
  = @user_organization_relationship.organization_id
%p
  %b Relationship:
  = @user_organization_relationship.relationship

= link_to 'Edit', edit_user_organization_relationship_path(@user_organization_relationship)
\|
= link_to 'Back', user_organization_relationships_path
