= row do
  = columns(medium: 12) do
    = registration_step_header_title
    - if @info.present?
      = @info.html_safe
    - else
      = registration_step_header_description
= row do
  = columns(medium: 12) do
    = save_registration_step do
      .registration-step-options
        .options
          - [:yes, :maybe, :no].each do |option|
            - class_name = [:unstyled]
            - class_name << :selected if @will_attend == option
            = button option, value: option, class: class_name
