= registration_step_header
= row do
  = columns(medium: 12) do
    = save_registration_step do
      = calendar_day_select :date, @date, (@min_date..@max_date), (@conference_start_date..@conference_end_date)
