= registration_step_header(description: { city: @city.city })
= row do
  = columns(medium: 12) do
    = save_registration_step do
      = textfield :address, @address, required: true, big: true
      .multi-field
        = textfield :city, (@city.city || '').html_safe, readonly: true
        - territory = @city.translate_territory
        = (textfield :territory, (@city.translate_territory || '').html_safe, readonly: true) if territory.present?
        = textfield :country, (@city.translate_country || '').html_safe, readonly: true
