= registration_step_header
= row do
  = columns(medium: 12) do
    = save_registration_step do
      .policy-agreement
        %h3=_'articles.policy.headings.The_Agreement'
        %ul
          - policies.each do |term|
            %li
              - id = "policies[#{term}]"
              = check_box_tag(id, 1, (@accepted_policies || {}).include?(term))
              %label.term{for: id}=_"articles.policy.term.#{term.to_s}", :s, 2
    = columns(medium: 12) do
      %p=_'articles.conference_registration.paragraphs.Confirm_Agreement', :p
