= registration_step_header
= row do
  = columns(medium: 12) do
    = save_registration_step do
      - if @is_attending
        .table.responsive-table#review
          - @step_data.each do |step, data|
            - unless data[:type] == :none
              .table-tr
                .table-th
                  =_"articles.conference_registration.step_names.#{step}"
                  = button :edit, name: :edit_step, value: step, class: [:unstyled, :edit]
                .table-td
                  - case data[:type]
                    - when :bool
                      =_"forms.actions.generic.#{data[:value] ? 'yes' : 'no'}"
                    - when :list
                      = data[:value].map { |item| _"#{data[:key]}.#{item}" }.join(_!(", ")).html_safe
                    - when :currency
                      = (number_to_currency data[:value].to_f, unit: '$')
                      =_!(data[:currency].to_s).html_safe
                    - when :date
                      = date(data[:value].to_date, :long).html_safe
                    - when :enum
                      =_("#{data[:key] || ('forms.labels.generic.' + step.to_s + '.')}#{data[:value]}")
                    - when :html
                      .scroller= richtext(data[:value].html_safe)
                    - else
                      - value = data[:key].present? ? (_"#{data[:key]}.#{data[:value]}") : data[:value].to_s
                      - if data[:supplementary].present?
                        = (_'string_formats.data_with_supplementary_value', vars: { value: value, supplementary_value: data[:supplementary] }).html_safe
                      - else
                        = value.html_safe
      - else
        %p.centered=_'articles.conference_registration.paragraphs.registration_cancelled', :p
      - if @allow_cancel_attendance
        .actions.centered
          = button :cancel_registration, value: :cancel_registration, class: :red
      - if @allow_reopen_attendance
        .actions.centered
          = button :reopen_registration, value: :reopen_registration
- if @host
  = row do
    = columns(medium: 12) do
      %h3=_'articles.conferences.headings.housing_info', :t
      %p=(_'articles.conference_registration.paragraphs.Housing', :p, vars: { name: strong(@host.user.name), address: location_link(Location.find_location(@host.housing_data['address'], @this_conference.city)), phone: phone_link(@host.housing_data['phone']), email: email_link(@host.user.email) }).html_safe
  = row do
    = columns(medium: 12) do
      %h4=_'articles.conference_registration.headings.hosting_info', :t
      #house-rules{lang: @host.user.locale.to_s == I18n.locale.to_s ? nil : @host.user.locale}
        = richtext @host.housing_data['info']
- elsif @guests
  = row do
    = columns(medium: 12) do
      %h3=_'articles.conference_registration.headings.Hosting', :t
      %p=_'articles.conference_registration.paragraphs.Hosting', :p, vars: { count: @guests.sum { |s| s.size } }
  = row do
    = columns(medium: 12) do
      %h4=_'articles.conference_registration.headings.guests', :t
      - @guests.each do |space, guests|
        %h5=_"forms.labels.generic.#{space}"
        %table.full
          - guests.each do |guest|
            %tr
              %th=guest.user.name
              %th=guest.user.email
              %th=guest.from
            %tr
              - if guest.housing_data['other'].present?
                %td{colspan: 3, lang: guest.user.locale.to_s == I18n.locale.to_s ? nil : guest.user.locale}
                  = paragraph guest.housing_data['other']
      
= row do
  = columns(medium: 12) do
    %h3=_'articles.workshops.headings.Workshops', :t
    - if @this_conference.workshop_info.present?
      = richtext @this_conference.workshop_info
    - else
      %p=_'articles.conference_registration.paragraphs.workshops', :p
    .actions.centered
      .buttons
        = link_to (_'articles.conference_registration.actions.View_Workshops'), workshops_path(@this_conference), class: :button
        = link_to (_'actions.workshops.create'), create_workshop_path(@this_conference), class: [:button, :modify]
- if @my_workshops.present?
  = row do
    = columns(medium: 12) do
      %h3=_'articles.workshops.headings.Your_Workshops'
      = render 'workshops/workshop_previews', workshops: @my_workshops
= row do
  = columns(medium: 12) do
    %h3=_'articles.workshops.headings.Workshops_that_you_would_like_to_attend'
    %p=_'articles.workshops.paragraphs.Workshops_that_you_would_like_to_attend', :p
    - if @interested_workshops.present?
      = render 'workshops/workshop_previews', workshops: @interested_workshops
