= form_for @user, :html => (@user.id ? {:multipart => true} : {}) do |f|
	%div{:class => (@user.id ? 'columns medium-6' : '')}
		= f.text_field :username
		= f.email_field :email
		- if !@user.id
			= f.password_field, :password
			= f.password_field, :password_confirmation
			= f.actions :register
	- if @user.id
		.columns.medium-6
			= f.image_field :avatar, @user.avatar_url
		= f.actions :save
