= form_for @conference do |f|
	.columns
		- if @conference.errors.any?
			#error_explanation
				%h2= "#{pluralize(@conference.errors.count, "error")} prohibited this conference from being saved:"
				%ul
					- @conference.errors.full_messages.each do |msg|
						%li= msg
		= field f, :title, :text_field
		= field f, :slug, :text_field
	.columns.medium-4
		= field f, :poster, :image_field, @conference.poster_url
		= field f, :cover, :image_field, @conference.cover_url
	.columns.medium-8
		= field f, :conference_type_id, :collection_select, ConferenceType.all, attrs: [:id, :title]
		.row
			.columns.small-6
				= field f, :start_date, :date_field
			.columns.small-6
				= field f, :end_date, :date_field
		= field f, :workshop_schedule_published, :check_box
		= field f, :meals_provided, :check_box
		= field f, :meal_info, :text_area
		= field f, :travel_info, :text_area
	.columns
		= field f, :info, :text_area
		= actions :save
