= form_for @conference do |f|
	.columns
		= f.text_field :title
		= f.text_field :slug
	.columns.medium-4
		= f.image_field :poster, @conference.poster_url
		= f.image_field :cover, @conference.cover_url
		- # @parse_data['photos'].each do |img|
		- #	- if img['width'] > 980
		- #		%img{src: img['photo_file_url']}
	.columns.medium-8
		= f.collection_select :conference_type_id, ConferenceType.all, :id, :title
		.row
			.columns.small-6
				= f.date_field :start_date
			.columns.small-6
				= f.date_field :end_date
		= f.check_box :workshop_schedule_published
		= f.check_box :meals_provided
		= f.text_area :meal_info
		= f.text_area :travel_info
	.columns
		= f.text_area :info
		= f.actions :save
