- content_for :banner do
	- style = nil
	- cover = nil
	- figure = nil
	- if capable_of(:css_mixblendmode) || ENV['RAILS_ENV'] == 'test'
		- cover = "<div class=\"cover\" style=\"background-image: url(#{@conference.cover_url})\"></div>"
	- elsif capable_of(:svg)
		- banner_image = 'conferences/banner_image.svg'
	- else
		- style = "background-image: url(#{@conference.cover_url})"
	#header-title{style: style}
		= render banner_image if banner_image
		= cover.html_safe if cover
		.title
			%h2.background=_!"#{@conference.start_date.year.to_s}!"
			.details
				%h3.primary=location(@conference.organizations.first.locations.first)
				.secondary
					= date_span(@conference.start_date.to_date, @conference.end_date.to_date)
	%figure
		%img{src: @conference.poster.full.url}
