- banner_image @conference.cover_url, id: @conference.cover_attribution_id, name: @conference.cover_attribution_name, user_id: @conference.cover_attribution_user_id, src: @conference.cover_attribution_src
- page_style (params['controller'] == 'conferences' ? 'article' : 'emphasize-banner')

- content_for :banner do
	.row
		.columns.small-12.banner
			%figure
				%img{src: @conference.poster.full.url}
		.columns.medium-8.align-bottom
			- title = @conference.conference_type.slug == 'bikebike' ? 'Bike!Bike! '+@conference.start_date.year.to_s : @conference.title
			%div
				%h1
					- if params['controller'] == 'conferences' && params['action'] == 'show'
						= title
					- else
						%a{href: @conference.url}=title
				%h2
					- location = @conference.organizations.first.locations.first
					= location.city + ', ' + (location.territory ? Carmen::Country.coded(location.country).subregions.coded(location.territory).name : location.country)
				%em
					= (l @conference.start_date, format: :date) + ' - ' + (l @conference.end_date, format: :date)
				- if params['controller'] != 'conferences'
					- info = nil
					- if @conference.registration_open
						- if @conference.registration_info
							- info = @conference.registration_info
					- elsif @conference.end_date < Time.now
						- if @conference.preregistration_info
							- info = @conference.postregistration_info
					- elsif @conference.preregistration_info
						- info = @conference.preregistration_info
					- if info
						= info.html_safe
					- else
						%p= ActionView::Base.full_sanitizer.sanitize(@conference.info).gsub(/^(.{300,350}\.)(.*)$/m, '\1...')
		.columns.medium-4.centered.align-bottom
			%div
				- if @conference.registration_open
					%a.button.arrow-r{href: @conference.url(:register)}
						=_'conference.Register_Now'
				- if params['controller'] != 'conferences'
					%a.button.more{href: @conference.url}
						=_'conference.More_Info'
