= columns(medium: 12) do
	%h2=_'articles.conference_registration.headings.Payment'
	%p=_'articles.conference_registration.paragraphs.Payment', 'Thank you for completing your registration. We\'ll see you at Bike!Bike! Payment is by donation and can be done now or upon arrival but to help us fund the conference, we ask that you pay the registration donation as soon as you can.'
= columns(large: 9, push: 1) do
	= form_tag register_path(@this_conference.slug), :class => :payment do
		= hidden_field_tag :button, :payment
		.three-options
			= button_tag :amount_25, :name => :amount, :value => '25.0' do
				=_! '$25.00'
			= button_tag :amount_50, :name => :amount, :value => '50.0' do
				=_! '$50.00'
			= button_tag :amount_100, :name => :amount, :value => '100.0' do
				= _!'$100.00'
	= form_tag register_path(@this_conference.slug), :class => :payment do
		%span.currency=_!'$'
		= number_field_tag :amount, nil, :required => true, :step => 0.01, :min => 0.00
		= button_tag :custom_amount, :value => :payment
		%p=_'articles.conference_registration.paragraphs.currency','(amounts are in $USD)'

= columns(large: 2)
