.columns.medium-8
	= f.check_box :registration_open, help: true
	= f.text_area :preregistration_info, help: true
	= f.text_area :registration_info, help: true
	= f.text_area :postregistration_info, help: true
.columns
	= f.actions :save
