.columns.medium-8
	= field f, :registration_open, :check_box, help: true
	= field f, :preregistration_info, :text_area, help: true
	= field f, :registration_info, :text_area, help: true
	= field f, :postregistration_info, :text_area, help: true
.columns
	= actions :save
