.columns.medium-6= text_field_tag :firstname, session[:registration][:user][:firstname], :required => true
.columns.medium-6= text_field_tag :lastname, session[:registration][:user][:lastname], :required => true
- if !session[:registration][:user][:id]
	.columns
		= text_field_tag :username, session[:registration][:user][:username]
.columns
	%h3=_'registration.primary.role_title','Attending as:'
.columns.small-offset-1
	= check_box_tag :is_participant, 'true', session[:registration][:is_participant]
	= check_box_tag :is_volunteer, 'true', session[:registration][:is_volunteer]
