= columns(medium: 12) do
	%h2=_'articles.conference_registration.headings.Stats'
	%p=_'articles.conference_registration.paragraphs.Stats', :p
= columns(medium: 6) do
	%ul.stats
		%li
			%h3=_'articles.conference_registration.terms.Total_Registrations'
			.stat.important=_!@total_registrations
		%li.money
			%h3=_'articles.conference_registration.terms.Total_Donations'
			.stat=money @total_donations
		%li
			%h3=_'articles.conference_registration.terms.Donation_Count'
			.stat
				= _!"#{@donation_count} / #{@total_registrations}"
		%li
			%h3=_'articles.conference_registration.terms.Housing'
			.breakdown
				- @housing.each do |h, v|
					- unless h == :none
						.stat-with-label
							.label=_"articles.conference_registration.questions.housing.#{h}"
							.stat=_!v
		%li
			%h3=_'articles.conference_registration.terms.Bikes'
			.breakdown
				.stat=_!"#{@bike_count} / #{@total_registrations}"
				- @bikes.each do |h, v|
					- unless h == :none
						.stat-with-label
							.label=_"articles.conference_registration.questions.bikes.#{h}"
							.stat.percent=_!percent(v.to_f / @bike_count)
		%li
			%h3=_'articles.conference_registration.terms.Food'
			.breakdown
				- @food.each do |h, v|
					.stat-with-label
						.label=_"articles.conference_registration.questions.food.#{h}"
						.stat.percent=_!percent(v.to_f / @total_registrations)
		%li
			%h3=_'articles.conference_registration.terms.Languages'
			.breakdown
				- @languages.each do |h, v|
					.stat-with-label
						.label=_"languages.#{h}"
						.stat.percent=_!percent(v.to_f / @total_registrations)
= columns(medium: 6) do
	.allergies
		%h3=_'articles.conference_registration.headings.Allergies'
		%ul
			- @allergies.each do |a|
				%li
					%p=_!a
	.other
		%h3=_'articles.conference_registration.headings.other'
		%ul
			- @other.each do |o|
				%li
					%p=_!o
