= javascript_include_tag 'topojson.js'
- add_inline_script :map
- content_for :title do
  =I18n.t'articles.conferences.headings.Conference_List'

- content_for :banner do
  #header-title.map
    %svg#map.loading{preserveAspectRatio: 'xMinYMin slice', viewBox: "0 0 1880 550"}
    #tooltip

%article
  = row do
    = columns(medium: 12) do
      %h2=_"articles.conferences.headings.conferences", :t
      %p=_"articles.conferences.paragraphs.conferences", :p
      - if logged_in? && current_user.administrator?
        .actions.left= link_to (_'forms.actions.generic.create'), new_conference_path, class: ['button', 'accented']
  = row do
    = columns(medium: 12, id: :conferences, class: 'list-view') do
      - @conference_list.each do | type, list |
        - if list.present?
          %h3=_"articles.conferences.headings.types.#{type.to_s}", :t
          %ul
            - list.each do | conference |
              %li.conference{id: "conference-#{conference.id}", data: {a: conference.city.latitude, o: conference.city.longitude, y: conference.year, t: conference.conferencetype}, class: conference.is_public ? nil : 'not-public'}
                .info
                  %h4.title= _!conference.title
                  .conference-details
                    .location=location(conference.city)
                    - if conference.start_date.present? && conference.end_date.present?
                      .date= date_span(conference.start_date.to_date, conference.end_date.to_date)
                  .actions
                    = link_to (_'articles.workshops.info.read_more'), conference_path(conference.slug), class: ['button', 'conference-link', 'small']
                    - if logged_in?
                      - if conference.host? current_user
                        = link_to (_'forms.actions.generic.administrate'), administrate_conference_path(conference.slug), class: [:button, :modify, :small]
                      - if current_user.administrator?
                        = link_to (_'forms.actions.generic.edit'), edit_conference_path(conference.slug), class: [:button, :subdued, :small]
                - if conference.poster.present?
                  .img
                    %img{src: conference.poster.preview.url}
