= render :partial => 'conferences/page_header', :locals => {:page_key => 'Conference_Registration'}
- if @warnings.present?
  = row class: 'warnings', tag: :ul do
    - @warnings.each do |warning|
      = columns tag: :li, class: 'warning-info' do
        = warning
%article
  - if logged_in?
    - add_stylesheet 'quill.css'
    - add_javascript :quill
    - add_inline_script :editor
    #step-content
      = step_message
      = render "registration_steps/#{@step}"
  - else
    = row do
      = columns(medium: 12) do
        %h2=_'articles.conference_registration.headings.Registration_Details'
        %p= _'articles.conference_registration.paragraphs.Registration_Details'
        %h3=_'articles.conference_registration.headings.Verify_Account'
        %p=_'articles.conference_registration.paragraphs.Verify_Account'

    = row do
      = columns(medium: 12) do
        = render "application/login"
