= render :partial => 'conferences/page_header', :locals => {:page_key => 'Conference_Administration'}
- if @warnings.present?
  = row class: 'warnings', tag: :ul do
    - @warnings.each do | warning |
      = columns tag: :li do
        = warning
%article
  = row do
    = columns(medium: 12) do
      %h2=_(@page_title)
      = registration_step_menu
    = render "conferences/#{@register_template.to_s}"
