= render :partial => 'page_header', :locals => {:page_key => 'Conference_Registration'}
= registration_step_menu

- if @warnings.present?
	= row class: 'warnings', tag: :ul do
		- @warnings.each do | warning |
			= columns tag: :li do
				= warning
%article
	= row do
		= render @register_template.to_s
