- location = @conference.organizations.first.locations.first
- location_name = location.city + ', ' + (location.territory ? Carmen::Country.coded(location.country).subregions.coded(location.territory).name : location.country)

- title @conference.title
- description "#{@conference.title} conference in #{location_name} for DIY bicycle collectives, co-ops, and advocacy groups"
= render 'header'

= tabs!

%article.row
	.columns.large-10
		- if @register_step
			%h2='Register!'
			= @register_content.html_safe
		- else
			%h2=('About '+@conference.title)
			=p @conference, :info

- content_for :side_bar do
	%h5= @conference.title+' is hosted by:'
	%ul.preview-list.org-list.small-block-grid-2.large-block-grid-1
		- @conference.organizations.each do |organization|
			%li=render 'organizations/preview', :organization => organization