.facebook
	=_'links.footer.help_text.facebook', 'Join our facebook group' do |title|
		%a{href: 'https://www.facebook.com/groups/648758205249998/', target: :_blank, title: title}
			=svg_sprite  'icons', 'bb-icon-fb', 'facebook logo'
.github
	=svg_sprite  'icons', 'bb-icon-github', 'github logo'
	%a{href: 'https://github.com/bikebike/BikeBike/issues', target: :_blank}
		=_'links.footer.text.File_an_Issue'
	=_!'|'
	%a{href: 'https://github.com/bikebike/BikeBike', target: :_blank}
		=_'links.footer.text.Help_contribute'
%ul.locales
	- @alt_lang_urls.each do |locale, url|
		%li
			- locale_translation = language(locale, true)
			%a{href: url, lang: locale}
				=_'translate.content.change_locale', "Read in #{locale_translation}", vars: {language: locale_translation}, locale: locale if locale != I18n.locale.to_s
.site-info
	.user-controls
		- if logged_in?
			= link_to (_!current_user.name), settings_path, class: 'my-account'
			= _!' | '
			= link_to (_'forms.actions.generic.Log_out'), logout_path
		- else
			= signin_link
	.copy
		=_'links.footer.help_text.contributors', 'Who contributed to building this website' do |title|
			=link_to :humans_txt, {title: title} do
				=((_!"&copy;#{Date.today.strftime("%Y")} Bike!Bike!") || '').html_safe
