%nav
  #main-nav
    = row(class: 'inner-nav') do
      = columns(medium: 3) do
        - protect do
          = link_to home_path, :class => 'logo' do
            = svg 'logo', (_!'Bike Bike')
            = svg 'logo-text', (_!'Bike Bike')
            = off_screen _!'Bike Bike'
      = columns(medium: 6, class: 'nav') do
        - protect do
          = nav_link :about
          = nav_link :policy
          = nav_link :conferences
      = columns(medium: 3, class: 'locale-nav') do
        - protect do
          %ul.locales
            - @alt_lang_urls.each do |locale, url|
              %li{class: locale == I18n.locale.to_s ? 'current' : nil}
                - locale_translation = language_name(locale, true)
                - translation_text = (_'translate.content.change_locale', "Read in #{locale_translation}", vars: {language: locale_translation}, locale: locale)
                %a{href: url, lang: locale, title: translation_text}
                  %span{aria: {hidden: :true}}=_!locale
                  = off_screen translation_text
    