%nav
	#main-nav
		= row(class: 'inner-nav') do
			= columns(medium: 4, class: 'inner-nav') do
				= link_to '/', :class => 'logo' do
					= svg_sprite('icons', "bb-icon-logo", "Logo")
					= svg_sprite('icons', "bb-icon-logo-text", "Logo Text")
			= columns(medium: 8, class: 'nav') do
				= nav_link about_path, (_'page_titles.About'), 'about'
				= nav_link policy_path, (_'page_titles.Policy'), 'policy'
				- if @conference && @conference.registration_open
					= nav_link register_path(@conference.slug), (_'page_titles.Register')
				- else
					= render 'shared/donate_button', :email_address => (@conference.paypal_email_address || @conference.email_address)
