%nav#main-nav
	= link_to '/', :class => 'logo' do
		= svg_sprite('icons', "bb-icon-logo", "Logo")
		= svg_sprite('icons', "bb-icon-logo-text", "Logo Text")
	.nav
		= nav_link '/', (@conference ? @conference.title : 'Bike!Bike!')
		= nav_link '/about', (_'page_titles.About_BikeBike')
		= nav_link '/policy', (_'page_titles.Safe_Space_Policy')
	.actions
		= render 'shared/donate_button', :email_address => (@conference.paypal_email_address || @conference.email_address)