%nav#main-nav
	= link_to '/resources', :class => ['button', 'logo'] do
		= image_tag('logo.png', class: 'logo')
		= image_tag('logo-text.png', class: 'logo-text')
	= link_to (_'Conferences'), {:controller => :conferences}, {:class => ['button', 'conference']}
	= link_to (_'Organizations'), {:controller => :organizations}, {:class => ['button', 'organization']}
	= link_to (_'Zine'), 'http://zinezine.bikebike.org', :class => ['button', 'article']
	%p
		Bike!Bike! is an international annual gathering organized by and for community bicycle projects. The conference is a space for participants from shops and related advocacy groups to converge in a different city each year over a 4 day period to have workshops and strengthen our social network.
	-#- if current_user
	-#	%li.has-form.sign-out.hide-for-small
	-#		= link_to (_"Sign_Out"), :logout, method: :post, :class => 'button'
	-#	%li.user-profile.has-dropdown
	-#		= link_to current_user do
	-#			= image_tag(current_user.avatar_url(:icon))
	-#			%span
	-#				%span.show-for-small=current_user.username
	-#		%ul.dropdown
	-#			%li= link_to 'View Profile', current_user
	-#			%li= link_to 'Edit Profile', edit_user_path(current_user.id)
	-#- else
	-#	%li.has-form.sign-in
	-#		= link_to (_"Sign_In"), :login, :class => 'button'