%h1 Listing events

%table
  %tr
    %th Title
    %th Slug
    %th Event type
    %th Conference
    %th Info
    %th Location
    %th Start time
    %th End time
    %th
    %th
    %th

  - @events.each do |event|
    %tr
      %td= event.title
      %td= event.slug
      %td= event.event_type_id
      %td= event.conference
      %td= event.info
      %td= event.location
      %td= event.start_time
      %td= event.end_time
      %td= link_to 'Show', event
      %td= link_to 'Edit', edit_event_path(event)
      %td= link_to 'Destroy', event, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Event', new_event_path
