%h1 Listing workshop_resources

%table
  %tr
    %th Name
    %th Slug
    %th Info
    %th
    %th
    %th

  - @workshop_resources.each do |workshop_resource|
    %tr
      %td= workshop_resource.name
      %td= workshop_resource.slug
      %td= workshop_resource.info
      %td= link_to 'Show', workshop_resource
      %td= link_to 'Edit', edit_workshop_resource_path(workshop_resource)
      %td= link_to 'Destroy', workshop_resource, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Workshop resource', new_workshop_resource_path
