%p#notice= notice

%p
  %b Name:
  = @workshop_resource.name
%p
  %b Slug:
  = @workshop_resource.slug
%p
  %b Info:
  = @workshop_resource.info

= link_to 'Edit', edit_workshop_resource_path(@workshop_resource)
\|
= link_to 'Back', workshop_resources_path
