- page_title = 'Translations'
- title page_title
- banner_title page_title

.row
	%h1
		= _ 'languages.list'
	%h2
		= _ 'languages.active'
	%ul.languages.active.small-block-grid-1.medium-block-grid-3.large-block-grid-4.grid.links
		- @language_codes.each do |code|
			- if code && @completeness.has_key?(code.to_s)
				%li.text-center
					- completeness = @completeness[code.to_s]
					-# percent = @total_translations ? ((completeness / @total_translations.to_f) * 100).to_i : 0
					%a{:href => "/translations/#{code}/", :class => (completeness  > 99 ? 'complete' : completeness > 67 ? 'needs-work' : nil)}
						%h3=_"languages.#{code}"
						.completeness
							= "#{completeness} / #{@total_translations} (#{completeness}%)"
	%h2= _ 'languages.inactive'
	%ul.languages.inactive.small-block-grid-1.medium-block-grid-3.large-block-grid-4.grid.links
		- @language_codes.each do |code|
			- if code && !@completeness.has_key?(code.to_s)
				%li.text-center
					%a{:href => "/translations/#{code}/"}
						%h3=_"languages.#{code}"
