%p#notice= notice

%p
  %b Workshop:
  = @workshop_requested_resource.workshop_id
%p
  %b Workshop resource:
  = @workshop_requested_resource.workshop_resource_id
%p
  %b Status:
  = @workshop_requested_resource.status

= link_to 'Edit', edit_workshop_requested_resource_path(@workshop_requested_resource)
\|
= link_to 'Back', workshop_requested_resources_path
