%h1 Listing workshop_facilitators

%table
  %tr
    %th User
    %th Workshop
    %th Role
    %th
    %th
    %th

  - @workshop_facilitators.each do |workshop_facilitator|
    %tr
      %td= workshop_facilitator.user_id
      %td= workshop_facilitator.workshop_id
      %td= workshop_facilitator.role
      %td= link_to 'Show', workshop_facilitator
      %td= link_to 'Edit', edit_workshop_facilitator_path(workshop_facilitator)
      %td= link_to 'Destroy', workshop_facilitator, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Workshop facilitator', new_workshop_facilitator_path
