%p#notice= notice

%p
  %b User:
  = @workshop_facilitator.user_id
%p
  %b Workshop:
  = @workshop_facilitator.workshop_id
%p
  %b Role:
  = @workshop_facilitator.role

= link_to 'Edit', edit_workshop_facilitator_path(@workshop_facilitator)
\|
= link_to 'Back', workshop_facilitators_path
