= form_for @conference_registration do |f|
  - if @conference_registration.errors.any?
    #error_explanation
      %h2= "#{pluralize(@conference_registration.errors.count, "error")} prohibited this conference_registration from being saved:"
      %ul
        - @conference_registration.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :conference_id
    = f.number_field :conference_id
  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :is_attending
    = f.text_field :is_attending
  .actions
    = f.submit 'Save'
