%p#notice= notice

%p
  %b Name:
  = @workshop_stream.name
%p
  %b Slug:
  = @workshop_stream.slug
%p
  %b Info:
  = @workshop_stream.info

= link_to 'Edit', edit_workshop_stream_path(@workshop_stream)
\|
= link_to 'Back', workshop_streams_path
