%h1 Listing registration_form_fields

%table
  %tr
    %th Title
    %th Help
    %th Required
    %th Field type
    %th Options
    %th Is retired
    %th
    %th
    %th

  - @registration_form_fields.each do |registration_form_field|
    %tr
      %td= registration_form_field.title
      %td= registration_form_field.help
      %td= registration_form_field.required
      %td= registration_form_field.field_type
      %td= registration_form_field.options
      %td= registration_form_field.is_retired
      %td= link_to 'Show', registration_form_field
      %td= link_to 'Edit', edit_registration_form_field_path(registration_form_field)
      %td= link_to 'Destroy', registration_form_field, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Registration form field', new_registration_form_field_path
