%h1 Listing organization_statuses

%table
  %tr
    %th Name
    %th Slug
    %th Info
    %th
    %th
    %th

  - @organization_statuses.each do |organization_status|
    %tr
      %td= organization_status.name
      %td= organization_status.slug
      %td= organization_status.info
      %td= link_to 'Show', organization_status
      %td= link_to 'Edit', edit_organization_status_path(organization_status)
      %td= link_to 'Destroy', organization_status, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Organization status', new_organization_status_path
