%p#notice= notice

%p
  %b Conference registration:
  = @conference_registration_response.conference_registration_id
%p
  %b Registration form field:
  = @conference_registration_response.registration_form_field_id
%p
  %b Data:
  = @conference_registration_response.data

= link_to 'Edit', edit_conference_registration_response_path(@conference_registration_response)
\|
= link_to 'Back', conference_registration_responses_path
