= form_for @organization do |f|
	.columns
		= f.text_field :name
		= f.text_field :slug

	.columns.medium-4.small-text-centered
		= f.image_field :avatar, @organization.avatar_url
	.columns.medium-8
		= f.email_field :email_address
		= f.fields_for :locations do |b|
			= field_set_tag 'Location' do
				= b.country_select :country, {help: 'Select a Country'}
				- cc = @organization.locations && @organization.locations[b.index].country ? @organization.locations[b.index].country : 'US'
				= b.subregion_select :territory, cc, html: {class: @organization.locations[b.index].country ? 'can' : 'cant', data: {:country => cc}}
				= b.text_field :city
				= b.text_field :street
				= b.text_field :postal_code
	.columns
		= f.text_area :info
		= f.actions :save
