
- page_style :form

= tabs!
.row
	= form_for @organization do |f|
		.columns.medium-4
			%h2=_'organization.members.help.title', :t
			%p=_'organization.members.help', :p
		.columns.medium-8
			= f.image_field :cover, @organization.cover_url
			= f.number_field :year_founded
			= f.actions :save
