
- page_style :form

= tabs!
.row
	= form_for @organization do |f|
		.columns.medium-4
			%h2=_'organization.members.help.title', :t
			%p=_'organization.members.help', :p
		.columns.medium-8
			.clearfix
				= f.fields_for :user_organization_relationships, :include_id => true do |u|
					= field u, :id, :user_select_field, @organization.users[u.index], attrs: [@organization.user_organization_relationships[u.index]]
			= actions :save
