= form_for @workshop_presentation_style do |f|
  - if @workshop_presentation_style.errors.any?
    #error_explanation
      %h2= "#{pluralize(@workshop_presentation_style.errors.count, "error")} prohibited this workshop_presentation_style from being saved:"
      %ul
        - @workshop_presentation_style.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :slug
    = f.text_field :slug
  .field
    = f.label :info
    = f.text_field :info
  .actions
    = f.submit 'Save'
