%h1 Listing workshop_presentation_styles

%table
  %tr
    %th Name
    %th Slug
    %th Info
    %th
    %th
    %th

  - @workshop_presentation_styles.each do |workshop_presentation_style|
    %tr
      %td= workshop_presentation_style.name
      %td= workshop_presentation_style.slug
      %td= workshop_presentation_style.info
      %td= link_to 'Show', workshop_presentation_style
      %td= link_to 'Edit', edit_workshop_presentation_style_path(workshop_presentation_style)
      %td= link_to 'Destroy', workshop_presentation_style, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Workshop presentation style', new_workshop_presentation_style_path
