%p#notice= notice

%p
  %b Name:
  = @workshop_presentation_style.name
%p
  %b Slug:
  = @workshop_presentation_style.slug
%p
  %b Info:
  = @workshop_presentation_style.info

= link_to 'Edit', edit_workshop_presentation_style_path(@workshop_presentation_style)
\|
= link_to 'Back', workshop_presentation_styles_path
