= row do
	= columns(medium: 12) do
		%h2=_'articles.permission_denied.headings.confirm_email','Please confirm your email address'
		= form_tag :do_confirm, :authenticity_token => false, class: 'flex-form' do
			= emailfield :email, nil, required: true, big: true
			= hidden_field_tag :token, @confirmation.token
			= button_tag :login
