= row do
	= columns(medium: 12) do
		%h2=_'articles.permission_denied.headings.not_a_translator','Sorry you must be a translator to view this page'
	= columns(medium: 6) do
		%p=_'articles.permission_denied.paragraphs.translator_request', :p
	= columns(medium: 6) do
		= form_tag :translator_request do
			= text_area_tag :comment, nil, placeholder: true, required: true
			= button :translator_request
