= row do
	= columns(medium: 12) do
		%h2=_'articles.permission_denied.headings.login_required','Sorry you must be logged in to view this page'
	= columns(medium: 6, large: 7) do
		%p=_'articles.permission_denied.paragraphs.translator_not_logged_in', :p
	= columns(medium: 6, large: 5) do
		= form_tag :do_confirm do
			.email-field.input-field
				= email_field_tag :email, nil, required: true
				= label_tag :email
			= button_tag :login
