- this_is_the_front_page
- if @conference
	= render 'conferences/header'
	%article
		= row do
			= columns(medium: 10, push: {medium: 1}) do
				%h2=_!@conference.title
				= @conference.info.html_safe
				- if @conference.workshops
					- if @schedule
						%h3=_'articles.workshops.headings.Schedule'
						= render 'schedule/programme', :schedule => @schedule, :conference => @conference, :workshops => @workshops, :events => @events, :locations => @locations, :show_interest => true, :day_parts => @day_parts, :show_previews => true
				- if @conference.registration_status == :open
					%h3=_'articles.workshops.headings.Proposed_Workshops'
					%p=_'articles.workshops.paragraphs.Proposed_Workshops'
					= render 'workshops/workshop_previews', :workshops => @conference.workshops
