- this_is_the_front_page
- if @conference
	= render 'conferences/header'
	%article
		= row do
			= columns(medium: 10, push: {medium: 1}) do
				%h2=_!@conference.title
				= @conference.info.html_safe
				- if @conference.registration_status == :open
					- if @conference.workshop_schedule_published
						%h3=_'articles.workshops.headings.Schedule'
						= render 'conferences/admin/schedule'
					- else
						%h3=_'articles.workshops.headings.Proposed_Workshops'
						%p=_'articles.workshops.paragraphs.Proposed_Workshops'
						= render 'workshops/workshop_previews', :workshops => (@conference.workshops.sort { |a, b| a.title.downcase <=> b.title.downcase })
