%p#notice= notice

%p
  %b Title:
  = @location.title
%p
  %b Address:
  = @location.address
%p
  %b Latitude:
  = @location.latitude
%p
  %b Longitude:
  = @location.longitude

= link_to 'Edit', edit_location_path(@location)
\|
= link_to 'Back', locations_path
