!!!
%html{ lang: I18n.locale.to_s }
	%head
		%meta{ charset: 'utf-8' }
		%meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0' }
		%title= yield_or_default :title, controller.action_name.titlecase
		%meta{ name: 'description', content: (yield_or_default :description, 'Bike!Bike! is an international annual gathering organized by and for community bicycle projects') }
		= csrf_meta_tags
		= yield :head
		/ Le HTML5 shim, for IE6-8 support of HTML elements
		/[if lt IE 9]
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>

		= stylesheet_link_tag '//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic', 'application', media: 'all'

		/ Touch icons
		%link{ href: asset_path('favicon.ico'), rel: 'shortcut icon', type: 'image/x-icon' }
		%link{ href: asset_path('favicon.ico'), rel: 'icon', type: 'image/x-icon' }
		%link{ href: asset_path('apple-touch-icon.png'), rel: 'apple-touch-icon' }
		%link{ href: asset_path('apple-touch-icon-72x72.png'), rel: 'apple-touch-icon', sizes: '72x72' }
		%link{ href: asset_path('apple-touch-icon-114x114.png'), rel: 'apple-touch-icon', sizes: '114x114' }
		%link{ href: asset_path('apple-touch-icon-144x144.png'), rel: 'apple-touch-icon', sizes: '144x144' }

		/
			Le javascript
			\==================================================
		/ Placed at the top of the document 'cause of turbolinks
		=# javascript_include_tag '//use.typekit.net/iqv7hcg.js'
		=# javascript_include_tag 'application'
		=# javascript_include_tag 'nested_form'

	%body{ class: (yield_or_default :page_style) }
		:javascript
			document.getElementsByTagName('HTML')[0].className+=' '+(window.getComputedStyle(document.body).backgroundBlendMode?'':'no-')+'blend-modes'
		-#= render 'shared/translation_control'

		%main
			= render 'shared/navbar'
			- flash.each do |key, msg|
				= content_tag :div, msg, :id => key
			- if has_banner?
				%header#banner{banner_attrs(yield_or_default :banner_image)}
					= yield :banner
					= banner_attribution
			- if content_for?(:side_bar)
				%aside#side-bar
					= yield :side_bar
			- if has_content?
				#content=yield
			- else
				= yield
		#footer
			.container= render 'shared/footer'
