!!!
%html{ lang: I18n.locale.to_s }
	%head
		%meta{ charset: 'utf-8' }
		%meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0' }
		-#%title= (yield :title) + (content_for?(:title) ? (_!' | ') : '') + (_!'Bike!Bike!')
		%title=_!('Bike!Bike!' + (content_for?(:title) ? " - #{yield :title}" : ''))
		%meta{ name: 'description', content: (yield_or_default :description, I18n.t('page_descriptions.home')) }
		= csrf_meta_tags
		= stylesheets
		%link{ href: asset_path('favicon.ico'), rel: 'shortcut icon', type: 'image/x-icon' }
		%link{ href: asset_path('favicon.ico'), rel: 'icon', type: 'image/x-icon' }
		- @alt_lang_urls.each do |locale, url|
			%link{ rel: :alternate, hreflang: locale, href: url }
		- if content_for?(:og_image)
			%meta{property: 'og:image', content: (yield :og_image)}
		-#%link{ href: asset_path('apple-touch-icon.png'), rel: 'apple-touch-icon' }
		-#%link{ href: asset_path('apple-touch-icon-72x72.png'), rel: 'apple-touch-icon', sizes: '72x72' }
		-#%link{ href: asset_path('apple-touch-icon-114x114.png'), rel: 'apple-touch-icon', sizes: '114x114' }
		-#%link{ href: asset_path('apple-touch-icon-144x144.png'), rel: 'apple-touch-icon', sizes: '144x144' }
		= yield :head

	%body{ class: page_style }
		#primary-content
			= render 'shared/navbar'
			%main#main
				- if content_for?(:side_bar)
					%nav#side-bar
						= yield :side_bar
				-# - flash.each do |key, msg|
				-# 	= content_tag :div, msg, :id => key
				%header#banner=yield :banner
				- if @submenu
					=row do
						= columns(medium: 12) do
							%nav.sub-menu
								- @submenu.each do |href,key|
									%a{href: href, class: request.fullpath.start_with?(href) ? 'current' : nil}=_"menu.submenu.#{key}"
				- if has_content?
					#content=yield
				- else
					= yield
			#footer
				%footer= render 'shared/footer'
		- if @confirmation_dlg.present?	
			#content-overlay
				#overlay
				.dlg#confirmation-dlg
					.dlg-content
						%h2.title=_'modals.confirm'
						.dlg-inner
							%p.message=''
							%a.button.confirm=_'modals.yes_button'
							%button.delete=_'modals.no_button'
		
		= yield :footer_scripts if content_for?(:footer_scripts)
		= inline_scripts
